<nav class="navbar"  role="navigation" aria-label="main navigation">

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active" href="#">
                    Agendas
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item " href="#">
                        Ver agendas
                    </a>
                    <!-- <a class="navbar-item " [routerLink]="['/criar-agenda']">
                        Nova Agenda
                    </a> -->
                    <a class="navbar-item ">
                        Vinculos
                    </a>

                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active" href="#">
                    Monitorias
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item " href="#">
                        Nova monitoria
                    </a>
                    <a class="navbar-item " href="#">
                        Nova Agenda
                    </a>
                    <a class="navbar-item " href="#">
                        Vinculos
                    </a>


                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active" href="#">
                    Checklists
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item " href="#">
                        Ver Checklists
                    </a>
                    <a class="navbar-item " [routerLink]="['/checklist/criar']">
                        Novo Checklist
                    </a>
                </div>
            </div>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link " href="#">
                    Avisos
                </a>
                <div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: 18rem;">

                    <a class="navbar-item" href="#">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">03 Aug 2017</small>
                            </p>
                            <p>Restam 2 dias para o Ricardo fazer a monitoria</p>
                        </div>
                    </a>

                    <a class="navbar-item" href="#">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">01 Aug 2017</small>
                            </p>
                            <p>Bulma / Bootstrap comparison</p>
                        </div>
                    </a>

                    <a class="navbar-item" href="#">
                        <div class="navbar-content">
                            <p>
                                <small class="has-text-info">24 Jul 2017</small>
                            </p>
                            <p>Access previous Bulma versions</p>
                        </div>
                    </a>

                    <a class="navbar-item" href="#">
                        Mais avisos
                    </a>

                </div>
            </div>

        </div>

        <div class="navbar-end">
            <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
                <span class="icon" style="color: #333;">
                    <i class="fa fa-lg fa-github"></i>
                </span>
            </a>


        </div>
    </div>
</nav>