<pre>
    {{ input.valid | json }}
</pre>

<div class="field">
    <label class="label" *ngIf="temLabel" >{{ opcoes.label }}</label>
    
    <div [class.has-icons-right]="input.valid" >
        <input             
            class="input" 
            type="text" 
            #input="ngModel"
            (input)="onChange($event.target.value)"
            [class.is-success]="eValido()"  
            [class.is-danger]="eInvalido()"
            placeholder="{{ opcoes.placeholder }}"
            minlength="opcoes.minlength" 
            maxlength="opcoes.maxlength"            
            [value]="valor"
            (change)="onChange"
            ngModel
            >
        </div>

    <p *ngIf="eValido()" class="help is-success">{{ opcoes.mensagemDeSucesso }}</p>
    <p *ngIf="eInvalido()" class="help is-danger"> {{ opcoes.mensagemDeErro }} </p>
</div>